<ion-view cache-view="false" view-title="Create Note" >
  <form name="createForm" novalidate >
    <ion-content scroll="false" >
      <div class="list" >
        <label class="item item-input" >
          <input name="title" type="text" placeholder="Title" data-ng-model="vm.item.title" >
        </label >
      </div >
      <div class="row" >
      <textarea name="text" placeholder="Enter Note text here..." class="col col-100 main-text" data-ng-model="vm.item.text" focus></textarea >
      </div >
      <div class="row row-save-buttons" >
        <div class="col col-50" >
          <button class="button button-block button-positive" type="submit"
                  ng-click="vm.saveAndNew()"
                  data-ng-disabled="(createForm.text.$pristine && createForm.title.$pristine) || vm.invalid()" >
            Save & New
          </button >
        </div >
        <div class="col col-50" >
          <button class="button button-block button-positive" type="submit"
                  ng-click="vm.save()"
                  data-ng-disabled="(createForm.text.$pristine && createForm.title.$pristine) || vm.invalid()" >
            Save
          </button >
        </div >
      </div >
    </ion-content >
  </form >
</ion-view >
