<ion-view cache-view="false" view-title="{{vm.title}}">
  <form name="createForm" novalidate>
    <div class="row">
    <textarea name="text" placeholder="Enter Note text here..." class="col col-100 main-text" data-ng-model="vm.item.text" focus
              ng-model-reference="vm.textModel"></textarea>
    </div>
    <div class="row row-save-buttons" >
      <div class="col col-100" >
        <button class="button button-block button-positive" type="submit"
                ng-click="vm.save()"
                data-ng-disabled="createForm.text.$pristine || vm.invalid()">Save
        </button>
      </div >
    </div >
  </form>
</ion-view>
